.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


p {
  margin: 0;
}

.color-selection {
  height: 20px;
  width: 20px;
  position: absolute;
  left: -5vw;
  top: 1.5vh;
}

#green {
  background-color: #2dc937;
  left: -8vw
}

#yellow {
  background-color: #e7b416;
  left: -5vw
}

#red {
  background-color: #cc3232;
  left: -2vw
}

form {
  position: relative;
}

.selected {
  outline: 3px solid rgb(255, 255, 255);
}